---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
	title="Porfolio de Santino Fabi - Desarrollador y Programador Web"
	description="Explora el portafolio de Santino Fabi, desarrollador y programador web. Descubre sus proyectos y habilidades en diseño y desarrollo web."
>
	<main>
		<SectionContainer class="py-16 md:pb-36 pt-56">
			<Hero />
		</SectionContainer>

		<SectionContainer>
			<h2
				class="text-3xl font-semibold text-gray-800 dark:text-white flex flex-row gap-x-4 items-center transition"
			>
				<CodeIcon class="size-8" /> Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer class="mt-16">
			<h2
				class="text-3xl font-semibold text-gray-800 dark:text-white flex flex-row gap-x-4 items-center transition"
			>
				<UserIcon class="size-8" />Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>