---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-wihte text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Santino Fabi <div class="flex justify-center items-center"><Badge>Disponible</Badge></div>
			</h1>
			<h2 class="text-xl opacity-80">
				Desarrollador Web Front End y Técnico Superior en Programación. De Villa Constitución, Provincia de Santa Fe, Argentina 🇦🇷. Especializado en crear aplicaciones únicas.
			</h2>

			<ul></ul>
		</section>
	</main>
</Layout>