<atracle
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-yellow-500/90 dark:[&>p>strong]:text-yellow-200/90 [&>p>strong]:font-normal text-pretty order-2 md:order-1 transition"
    >
        <p>
            Hola, soy Santino Fabi, tengo 21 años y soy de Villa Constitución,
            Argentina 🇦🇷. <strong>Mi experiencia como Desarrollador Web</strong>
            me ha proporcionado las habilidades necesarias para crear sitios web
            dinámicos y atractivos.
        </p>

        <p>
            Completé mis estudios como <strong
                >Técnico Superior en Programación en el Instituto TecLab y me
                especializo en el desarrollo front-end</strong
            >. Mi enfoque principal es crear páginas web con la mejor
            experiencia para el usuario.
        </p>

        <p>
            Mi meta es sumergirme en el desarrollo back-end para convertirme en
            un <strong>desarrollador web full stack</strong>. Quiero ser
            versátil y dominar todas las áreas del desarrollo web.
        </p>
    </div>

    <img
        src="/melight.webp"
        alt="Santino Fabi"
        class="order-1 object-cover w-64 h-full p-1 bg-gray-100 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-white/5 border-dashed border-2 border-gray-300 dark:border-white/10 dark:hidden transition"
        style="object-position: 50% 50%"
    />
    <img
        src="/medark.webp"
        alt="Santino Fabi"
        class="order-1 object-cover w-64 h-full p-1 bg-gray-100 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-white/5 border-dashed border-2 border-gray-300 dark:border-white/10 hidden dark:block transition"
        style="object-position: 50% 50%"
    />
</atracle>