<footer class="md:px-4">
    <div
        class="bg-black/5 dark:bg-black/20 md:h-6 h-full w-full lg:max-w-[1120px] md:max-w-2xl mx-auto md:rounded-full rounded-none shadow-lg md:mt-8 mt-4 mb-10"
    >
        <div
            class="w-full flex flex-col md:flex-row justify-between items-center font-medium px-2"
        >
            <p
                class="text-gray-800 dark:text-gray-100 opacity-80 order-2 md:order-1 sm:text-base text-sm"
            >
                © 2024 Santino Fabi. Todos los derechos reservados.
            </p>

            <ul
                class="flex flex-row gap-x-5 text-gray-800 dark:text-gray-100 opacity-80 order-1 md:order-2"
            >
                <li>
                    <a
                        class="hover:underline"
                        href="mailto:santinofabi98@gmailcom">Contacto</a
                    >
                </li>
                <li>
                    <a class="hover:underline" href="/">Volver al inicio</a>
                </li>
            </ul>
        </div>
    </div>
</footer>