<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="size-12 rounded-full" src="https://avatars.githubusercontent.com/u/111947705?v=4" alt="Santino Fabi photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Inicio</a>
        <a href="/projects">Proyectos</a>
        <a href="/about">Sobre mí</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>