<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="w-12 h-12 rounded-full" src="https://avatars.githubusercontent.com/u/111947705?v=4" alt="Santino Fabi photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>