---
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import CvIcon from "../icons/Cv.astro";
---

<div class="max-w-xl">
    <h1
        class="text-gray-800 dark:text-white text-4xl sm:text-5xl font-bold flex flex-row gap-x-4 pb-6 transition"
    >
        Hey, soy Santino<a
            href="https://www.linkedin.com/in/santinofabi/"
            target="_blank"
            rel="noopener"
            class="sm:flex items-center transition hidden"
            ><Badge>Disponible</Badge></a
        >
    </h1>
    <h2 class="text-xl text-pretty">
        <span class="text-gray-800 dark:text-white/80 transition">
            Especializado en crear aplicaciones únicas.</span
        ><strong class="text-yellow-500/90 dark:text-yellow-200/90 transition">
            Desarrollador Web Front End y Técnico Superior en Programación</strong
        ><span class="text-gray-800 dark:text-white/80 transition">
            de Villa Constitución, Provincia de Santa Fe, <span
                class="text-blue-400/90 dark:text-blue-200/90 transition"
                >Argentina</span
            > 🇦🇷.</span
        >
    </h2>

    <nav class="flex flex-wrap sm:flex-nowrap gap-2 md:gap-x-4 mt-8">
        <SocialPill href="https://github.com/santinofb" class="order-1">
            <GitHubIcon class="size-5" />GitHub
        </SocialPill>
        <SocialPill
            href="https://www.linkedin.com/in/santinofabi/"
            class="order-2"
        >
            <LinkedInIcon class="size-5" />LinkedIn
        </SocialPill>
        <SocialPill
            href="mailto:santinofabi98@gmail.com"
            class="md:order-3 order-4"
        >
            <MailIcon class="size-5" />santinofabi98@gmail.com
        </SocialPill>
        <SocialPill href="/" class="md:order-4 order-3">
            <CvIcon class="size-5" />Currículum
        </SocialPill>
    </nav>
</div>